@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model FBLA_project.ApplicationModel

@section Styles {
    <link rel="stylesheet" href ="~/css/ApplicationStyles.css" />
}

@if (Model.Completed == false)
{
    <h1 class="title">Apply for @Model.Job.Title</h1>
    <p>@Model.Job.Text</p>
}



@if (Model.Completed == false)
{
    if (!( string.IsNullOrEmpty(Model.Message) ))
    {
        <div class="msg">@Model.Message</div>
    }
    <form asp-controller="Jobs" asp-action="Application" asp-route-id="@Model.Job.Id" method="post" enctype="multipart/form-data">

        <label class="field" asp-for="Application.Name">
            Name
            <label class="field" asp-for="Application.PhoneNumber">Phone Number <input class="form-input" asp-for="Application.PhoneNumber" required /></label>
            <input class="form-input" asp-for="Application.Name" required />
        </label>

        <label asp-for="Application.Strengths">What would you consider to be your strengths?</label>
        <textarea class="form-input" asp-for="Application.Strengths" required></textarea>

        <label asp-for="Application.WhyThisJob">Why would you like to apply here? </label>
        <textarea class="form-input" asp-for="Application.WhyThisJob" required></textarea>
        
        
        <div class="resume-upload">
            <label asp-for="ResumeFile">Upload Resume Here</label>
            <input asp-for="ResumeFile" type="file" required>
            <span asp-validation-for="ResumeFile"></span>
        </div>


        <button class ="apply" type="submit">Apply</button>
    </form>
}