@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Information";
}

@section Styles {
    <link rel="stylesheet" href="~/css/InformationStyles.css" />
}

<h1 class="title">Reasons to work with us</h1>
<p class="bs-info">fjdsfkld;lafjdklsed augue ex, accumsan vel varius elementum, molt. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varius elementum, mostie in tortorsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varius elementumtortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur temed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consecteturmed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum doiscing elit. Aliquam interdum, nibh sit amet consectetur tem</p>

<ul class="reasons-list">
    <a class="reason-link" href="#401k">
    <li class="reason">401k (For full time employees</li>
    </a>
    <a class="reason-link" href="#free">
    <li class="reason">Free car washes</li>
    </a>
    <a class="reason-link" href="#flexx">
    <li class="reason">Flexible hours</li>
    </a>
    <a class="reason-link" href ="#team">
    <li class="reason">Tight-knit team</li>
    </a>
    <a class="reason-link" href ="#scope">
    <li class="reason">Broad Scope of Positions</li>
    </a>
    <a class="reason-link" href ="#mobility">
    <li class="reason">Upward job mobility</li>
    </a>
</ul>

<div class="separator"></div>

<h2 class="subheading" id="401k">401k</h2>
<div class="benefit-section">
    <img src="~/Images/carosel2.jpg" />

    <p class="benefit-info">Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>
</div>

<div class="separator"></div>

<h2 class="subheading" id="free">Free car washes</h2>
<div class="benefit-section">

    <p class="benefit-info">Sed augue ex, accumsan vel varius elemenonsectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>
    <img src="~/Images/carosel2.jpg" />

</div>

<div class="separator"></div>


<h2 class="subheading" id="flexx">Flexible hours</h2>
<div class="benefit-section">
    <img src="~/Images/carosel2.jpg" />

    <p class="benefit-info">Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>

</div>

<div class="separator"></div>

<h2 class="subheading" id="team">Tight-knit team</h2>
<div class="benefit-section">

    <p class="benefit-info"> Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>
    <img src="~/Images/carosel2.jpg" />

</div>

<div class="separator"></div>

<h2 class="subheading"id="scope">Broad Scope of Positions</h2>
<div class="benefit-section">
    <img src="~/Images/carosel2.jpg" />

    <p class="benefit-info">Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>
</div>

<div class="separator"></div>

<h2 class="subheading" id="mobility">Upward job mobility</h2>
<div class="benefit-section">

    <p class="benefit-info">Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>
    <img src="~/Images/carosel2.jpg" />

</div>