@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Information";
}

<style>

h1, p, h2, ul {color: white;font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;}


p {margin:30px;
display:inline-block;width:30rem;
padding: 10px; 

border-radius:10px;
background-color:rgba(0, 0, 0, 0.4);}

h1 {text-align:center;}

h2 


</style>





<h1 class="title">Reasons to work with us</h1>


    <ul>
        <li><a>401k (For full time employees)</a></li>
        <li><a>Free car washes</a></li>
        <li><a>Flexible hours</a></li>
        <li><a>Tight-knit team</a></li>
        <li><a>Broad Scope of Positions</a></li>
        <li><a>Upward job mobility</a></li>
    </ul>


<h2>401k</h2>
<p>Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>

<h2>Free car washes</h2>
<p>Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>

<h2>Flexible hours</h2>
<p>Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>

<h2>Tight-knit team</h2>
<p>Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>

<h2>Broad Scope of Positions</h2>
<p>Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>

<h2>Upward job mobility</h2>
<p>Sed augue ex, accumsan vel varius elementum, molestie in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, nibh sit amet consectetur tempor, ex nulla laoreet ipsum, sed fermentum lorem risus vel ante. Etiam molestie congue lectus eu bibendum. Ut pellentesque fringilla justo. Cras ut tempus lacus. Pellentesque tristique vitae tortor nec imperdiet. Aliquam in felis placerat sem mattis pellentesque. Aenean est tortor, suscipit in metus sed, fermentum tristique dui. Morbi eget leo massa. Pellentesque mollis diam sed lacinia egestas. Quisque pretium nunc a gravida fringilla.</p>