@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OpeningsModel
@{
}
<h1>Job Openings</h1>

@foreach (var opening in Model.Openings){
<div class="container">
    <div class="card">
        <img src="@opening.ImgSrc" class="card-img-top"/>
        <div class="card-body">
            <h5 class="card-title">
                @opening.Title
            </h5>
            <p class="card-text">@opening.Text</p>
            <a asp-controller="Jobs" asp-action="Application" asp-route-id="@opening.Id">Apply!</a> 
        </div>
    </div>
</div>
}