@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OpeningsModel

@section Styles {
    <link rel="stylesheet" href="/css/OpeningsStyles.css" />
}

<h1 class="title">Job Openings</h1>
<div class="cards">
    @foreach (var opening in Model.Openings)
    {
        <div class="card card-sizer">
            <img src="@opening.ImgSrc" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">
                    @opening.Title
                </h5>
                <p class="card-text">@opening.Text</p>
                <a asp-controller="Jobs" asp-action="Application" asp-route-id="@opening.Id">Apply!</a>
            </div>
        </div>
    }

</div>