@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}


<div class="main-bg">
    <img class="main-bg-pic" src="/Images/homepagetree.jpg" alt="tree with beautiful sunset">
    <div class="title-container">
        <h1 class="display-4 main-title">Zen Tree</h1>
        <h2 class="title-subtitle">Carwash</h2>
    </div>
</div>



<div class="carosel">

</div>

<section>
 
    Welcome to Zen Tree Car Wash! We urge yyou to try one of our man wash packages;there is sure to be one to suit your needs. For more information, please contact support.(715-3) 
</section>





