@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}


<div class="main-bg">
    <img class="main-bg-pic" src="/Images/homepagetree.jpg" alt="tree with beautiful sunset">
    <div class="title-container">
        <h1 class="display-4 main-title">Zen Tree</h1>
        <h2 class="title-subtitle">Carwash</h2>
    </div>
</div>



<section>
    <div class="about-container">
        <h1 id="aboutus">A Little About Us</h1>
        <p>At Zen Tree Car Wash, we're more than just a car wash – we're dedicated to providing top-notch service and exceeding our customers' expectations. Founded in 2005 by car enthusiasts Joey Kozicki and Wyatt Firkus, Zen Tree has grown from a small family-owned operation to a trusted name in the community. Our mission is simple: to deliver the highest quality car washing while prioritizing customer satisfaction and environmental sustainability. With a team of experienced professionals who share our passion for cars and commitment to excellence, we take pride in every vehicle we service. At Zen Tree Car Wash, you can trust us to treat your car like our own, ensuring it leaves our facilities looking its absolute best.</p>

    </div>
</section>




<div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Images/carosel2.jpg" alt="Slide 1" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/istockphoto-1288966056-612x612 carousel.jpg" alt="Slide 2" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/istockphoto-1472673495-612x612 carousel.jpg" alt="Slide 3" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/istockphoto-1472673499-612x612 carousel.jpg" alt="Slide 4" class="d-block img-fluid">
        </div> <div class="carousel-item">
            <img src="/Images/istockphoto-1472673501-612x612 carousel.jpg" alt="Slide 5" class="d-block img-fluid">
        </div> <div class="carousel-item">
            <img src="/Images/istockphoto-1576795964-612x612 carousel.jpg" alt="Slide 6" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/istockphoto-1576797009-612x612 carousel.jpg" alt="Slide 7">
        </div>
    </div>
</div>


