@{
    ViewData["Title"] = "Home Page";
}


<style>

    .main-bg {
        position: relative;
        text-align: center;
        color: white;
    }

    .main-bg-pic {
        width: 100%;
        height: 80vh;
        object-position: 0 100%;
        object-fit: cover;
    }

    .title-container {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main-title{
        color: rgb(223 86 116);
        font-size: 90px;
    }
    .title-subtitle {
        color: rgb(127 65 137);
    }
</style>


<div class="main-bg">
    <img class="main-bg-pic" src="/Images/homepagetree.jpg" alt="tree with beautiful sunset">
    <div class="title-container">
        <h1 class="display-4 main-title">Zen Tree</h1>
        <h2 class="title-subtitle">Carwash</h2>
    </div>

</div>



<p>
    korejfkldjasfkljdas;lfjdk;las
    korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />korejfkldjasfkljdas;lfjdk;las<br />
</p>


