@model FBLA_project.ProductsModel


@section Scripts {
    <script type="text/javascript" src="~/js/ProductsSripts.js"></script>
}


@section Styles {
    <link rel="stylesheet" href="~/css/ProductStyles.css" />
}

@if (Model.LoginRequired)
{
    <h1 class="header">It is required that you log in in order to make a purchase </h1>
}

@if (Model.PurchaseSuccessful)
{
    <script>alert("Purchase Successful")</script>
}

<h1 class="title">Products</h1>

<div class="card-deck big-box">
    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Touchless</h5>
            <h6 class="price">$7.99</h6>
        </div>
        <div class="card-body">
            <p class="card-text">
                <ul>
                    <li>High-pressure water jets</li>
                    <li>Gentle Foam</li>
                    <li>Eco-friendly detergents</li>
                    <li>Touchless drying</li>
                    <li>Body wax</li>
                    <li>Underbody flush</li>
                    <li>Tire gloss</li>
                </ul>
            </p>
        </div>
        <img class="card-img-bottom" src="~/Images/Touchless-istock.webp" />
    </div>

    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Soft Touch</h5>
            <h6 class="price">$13.99</h6>
        </div>
        <div class="card-body">

            <p class="card-text">
                <ul>
                    <li>Soft cloth scrub</li>
                    <li>High-pressure water jets</li>
                    <li>Gentle Foam</li>
                    <li>Eco-friendly detergents</li>
                    <li>Touchless drying</li>
                    <li>Body wax</li>
                    <li>Underbody flush</li>
                    <li>Tire gloss</li>
                </ul>
            </p>

        </div>
        <img class="card-img-bottom" src="~/Images/SoftTouch-istock.webp" />
    </div>

    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Manual</h5>
            <h6 class="price">$19.99</h6>
        </div>
        <div class="card-body">
            <p class="card-text">
                <ul>
                    <li>High pressure rinse</li>
                    <li>Full body soap scrub</li>
                    <li>Window cleaning</li>
                    <li>Bug removal</li>
                    <li>Rim and tire cleaning</li>
                    <li>Tire gloss</li>
                    <li>Microfiber towel drying</li>
                    <li>Body wax</li>
                </ul>All operations done by employees to ensure that no part of your vehicle is left uclean!
            </p>
        </div>
        <img class="card-img-bottom" src="~/Images/Manual-istock.webp" />
    </div>

    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Membership</h5>
            <h6 class="price">$20</h6>
        </div>
        <div class="card-body">
            <p class="card-text">This is for mnem===njkfjdlksjaflkdsa</p>
        </div>
        <img class="card-img-bottom" src="~/Images/Manual-istock.webp" />
    </div>

    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Membership</h5>
            <h6 class="price">$20</h6>
        </div>
        <div class="card-body">
            <p class="card-text">
                This is for mnem===njkfjdlksjaflkdsa
                <button id="myBtn">Purchase</button>
            </p>
        </div>
        <img class="card-img-bottom" src="~/Images/Manual-istock.webp" />
    </div>


</div>



<div id="data-modal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            @if (Model.LoggedIn)
            {
                <form asp-action="Products">
                </form>
            }
            else
            {
                <h1 class="header">In order to make a purchase, please <a asp-controller="Home" asp-action="Login">Login</a></h1>
            }

        </div>
    </div>

</div>