@page

@{
}

<style>
    h1, h2, h3, p {
        color: white
    }

    
</style>



<h1>Products</h1>

<h2>Touchless</h2>
<p>Our Soft Touch Car Wash is designed to give your vehicle a thorough yet gentle cleaning experience. Using state-of-the-art technology and premium cleaning solutions, this wash ensures a pristine finish without compromising the integrity of your vehicle's paint and surfaces.</p>
<h2>Softtouch</h2>
<p>Indulge your vehicle in the pampering embrace of our Soft Touch Car Wash – an experience where cutting-edge technology meets gentle care. This advanced wash is designed to provide your vehicle with a thorough cleansing, ensuring a pristine finish without compromising its exterior integrity.</p>
<h3>Manual</h3>
<p>
    Immerse your vehicle in a distinctive and personalized cleaning affair with our Human-Powered Car Wash – a one-of-a-kind experience where skilled hands replace automated machinery to treat your car to a meticulous and artisanal cleaning.
</p>
