@{
}


@section Styles {
    <link rel="stylesheet" href="~/css/PoductStyles.css" />
}


<h1 class="title">Products</h1>

<div class="card-deck big-box">
    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Touchless</h5>
            <h6 class="price">$7.99</h6>
        </div>
        <div class="card-body">
            <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp; Our Soft Touch Car Wash is designed to give your vehicle a thorough yet gentle cleaning experience. Using state-of-the-art technology and premium cleaning solutions, this wash ensures a pristine finish without compromising the integrity of your vehicle's paint and surfaces.</p>
        </div>
        <img class="card-img-bottom" src="~/Images/Touchless-istock.webp" />
    </div>

    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Touchless</h5>
            <h6 class="price">$13.99</h6>
        </div>
        <div class="card-body">

            <p class="card-text">Indulge your vehicle in the pampering embrace of our Soft Touch Car Wash – an experience where cutting-edge technology meets gentle care. This advanced wash is designed to provide your vehicle with a thorough cleansing, ensuring a pristine finish without compromising its exterior integrity.</p>

        </div>
        <img class="card-img-bottom" src="~/Images/SoftTouch-istock.webp" />
    </div>

    <div class="card card-sizer">
        <div class="card-title">
            <h5 class="wash-title">Touchless</h5>
            <h6 class="price">$13.99</h6>
        </div>
        <div class="card-body">
            <p class="card-text">Immerse your vehicle in a distinctive and personalized cleaning affair with our Human-Powered Car Wash – a one-of-a-kind experience where skilled hands replace automated machinery to treat your car to a meticulous and artisanal cleaning.</p>
        </div>
        <img class="card-img-bottom" src="~/Images/Manual-istock.webp" />
    </div>
