.main-bg {
    position: relative;
    text-align: center;
    color: white;
}

.main-bg-pic {
    width: 100%;
    height: 80vh;
    object-position: 50% 100%;
    object-fit: cover;
    border-bottom: 1px solid rgb(197 129 123);
}

.title-container {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    color: rgb(223 86 116);
    font-size: 90px;
}

.title-subtitle {
    color: rgb(127 65 137);
}

@media (max-width: 500px) {
    .main-title {
        font-size: 50px;
    }

    .title-subtitle {
        color: rgb(127 65 137);
        font-size: 40px;
    }
}
.about-container {
    min-width: 40rem;
    padding: 20px;
    max-width: 50%;


}

#home-carousel {
    width: 500px;
    margin-inline: 20px;
    border-radius:20px;
}

#aboutus {
    text-align: center;
    margin-inline: 20px;
}


.carousel {
    width: 50%;
    overflow: hidden;
    position: relative;
}



    .slide.active {
        display: block;
    }


.information-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


.contact-container {
    float: right;
    width: 40%;
}