.car-property {
    font-size: 22px;
    color:white;
}
.membership-display {
    color: white;
    font-size: 22px;
}

.greeting {
    font-size: 70px;
    text-align:center;


}

.greeting-info {
    font-size: 50px;
    text-align: center;
}