.car-property {
    font-size: 22px;
    color:white;
}
.membership-display {
    color: white;
    font-size: 22px;
}

.greeting {
    font-size: 70px;
    text-align:center;


}

.greeting-info {
    font-size: 50px;
    text-align: center;
}

.login {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 60px;
    padding: 20px;
    background: #4a90e2;
    color: white;
    font-size: 30px;
    transition: all 0.4s;
}

    .login:hover {
        color: azure;
        background-color: var(--zen-purple);
        font-size: 35px;
    }