body {
}

h1, h5, h3, p {
    color: white
}

h1, h2, h3, p {
    margin: 20px;
}


.card-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: 15px;
    background-color: var(--zen-pink);
    margin: 0;
}

.wash-tile, .price {
    display: inline-block;
}

.price {
    color: rgb(202 202 202);
}

.card-sizer{
    width: 22rem;
    background-color: rgb(144, 98, 98, 0.08);
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
    min-width: 20rem;
    margin: 10px;
}

.big-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

.card-body {
    padding: 0px 5px 20px 5px;
    padding-top: 0;
}


.modal-open {
    text-decoration: none;
    color: white;
    display: inline-block;
    background: darkslategray;
    padding: 4px;
    border-radius: 10px;
}

    .modal-open:hover {
        cursor: pointer;
        color: aliceblue;
        background-color: rgba(20,20,20);
    }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(30, 30, 30);
    margin: 200px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    color: white;
    width: 85%;
}

/* The Close Button */
.btn-close {
    color: #aaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

    .btn-close:hover,
    .btn-close:focus {
        color: darkgrey;
        text-decoration: none;
        cursor: pointer;
    }

.job-applications-row {
}

table {
    margin-left: 10px;
}

.modal-item-label {
    font-size: 18px;
    color: white;
    padding: 10px;
    padding-right: 70px
}

.modal-item-val {
    font-size: 16px;
    color: lightgray;
}

.table-title {
    font-size: 24px;
}

.membership-btn {
    display: inline-block;
    width: 80%;
    margin:5px auto;
    border:none;
    background-color: var(--zen-pink);
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 22px;
    border-radius: 40px;
    margin-bottom: 15px;
}

    .membership-btn:hover {
        color: black;
        background-color: var(--zen-purple);
        font-size: 24px;
    }

.membership-box {
    display: flex;
    width: 22rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-self: stretch;
}

.membership-box > .card > .membership-btn, .membership-box > .card > .card-title {
    background-color: var(--zen-purple);
}

    .membership-box > .card > .membership-btn:hover {
        background: var(--zen-pink);
        color: white;
    }