:root {
    --zen-pink: rgb(223 86 116);
    --zen-purple: rgb(127 65 137);
    --prime: #212529;
    --accent: rgb(198, 160, 35);
    --secondary: rgb(80, 149, 234);
}



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color-scheme: dark;
}

body {
    margin-bottom: 60px;
    color-scheme: dark;
}

nav {
    background-color: black;
}


.logo-image {
    height: 2.3rem;
    margin: 0px 1rem 0px 0.5rem;
}S

.login-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 55%);
}

    .login-link:hover {
        color: rgba(255, 255, 255, 80%);
    }

/*Site-Wide property specifications*/

h1.title {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 70px;
}

h1, p, h2, ul {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;
}
